{% extends "_includes/layout.html" %}

{% block content %}

<div class="mx-4 prose lg:prose-xl max-w-prose prose-primary md:mx-24">
  <section>
    <h2>Books that Influence Me</h2>
    <p>So I totally stole this idea from <a
        href="https://brenebrown.com/library/">Brené Brown's website</a> –
      several of the books in my collection are hers. I just
      loved the idea of catalog what books I'm wading through currently and the
      books that have informed my thoughts in the past.</p>
    <p><em>Please note that the lists below include Amazon affiliate links.</em>
      I use
      any funds I earn to buy my next book, but if you aren't comfortable with
      that feel free to just search for the title on Amazon instead of clicking.
    </p>

  </section>

  <section>
    <h2>My Desk</h2>
    <p>These are the books that are I'm currently working my way though. While
      they are informing my thoughts, I'm not necessarily recommending them. I'm
      actively processing and learning from these authors. If you're interested
      in reading along with me, I'd love to hear your thoughts. Send my a DM on
      Twitter.</p>
    <div class="flex flex-wrap gap-4">
      <a href="https://www.amazon.com/dp/0593133587?psc=1&linkCode=li3&tag=neverstople02-20&linkId=39291bdaae51326e70b72b86384fcf4a&language=en_US&ref_=as_li_ss_il"
        target="_blank"><img border="0"
          src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0593133587&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=neverstople02-20&language=en_US"></a>
      <a href="https://www.amazon.com/gp/product/1451629249?ie=UTF8&linkCode=li3&tag=neverstople02-20&linkId=67133c0276842b91aa52aa8043a73df1&language=en_US&ref_=as_li_ss_il"
        target="_blank"><img border="0"
          src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1451629249&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=neverstople02-20&language=en_US"></a>
      <a href="https://www.amazon.com/gp/product/B0877D6H28?ie=UTF8&psc=1&linkCode=li3&tag=neverstople02-20&linkId=64f05257e0953f5bc4e7ebc32150afb8&language=en_US&ref_=as_li_ss_il"
        target="_blank"><img border="0"
          src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0877D6H28&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=neverstople02-20&language=en_US"></a>
      <a href="https://www.amazon.com/dp/1483308014?psc=1&linkCode=li3&tag=neverstople02-20&linkId=2cb4f70de3ab791aad2389f3dee51887&language=en_US&ref_=as_li_ss_il"
        target="_blank"><img border="0"
          src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1483308014&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=neverstople02-20&language=en_US"></a>
      <a href="https://www.amazon.com/Demon-Haunted-World-Science-Candle-Dark-ebook/dp/B004W0I00Q?crid=14HHVFMVMIMSD&dchild=1&keywords=carl+sagan+demon+haunted+world&qid=1626201490&sprefix=carl+sagan+%2Caps%2C324&sr=8-1&linkCode=li3&tag=neverstople02-20&linkId=bdb768d1e38cc38e21d8e06b2c22d854&language=en_US&ref_=as_li_ss_il"
        target="_blank"><img border="0"
          src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B004W0I00Q&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=neverstople02-20&language=en_US"></a>
    </div>
  </section>

  <section>
    <h2>My Bookshelf</h2>
    <p>These books are once that are on my bookshelf, and I totally recommend
      them to you. These authors have had an impact on how I see and process the
      world, and they are worth checking out.</p>
    <div class="flex flex-wrap gap-4">
      <a href="https://www.amazon.com/Dare-Lead-Brave-Conversations-Hearts/dp/0399592520?_encoding=UTF8&qid=1626198987&sr=8-1&linkCode=li2&tag=neverstople02-20&linkId=c6395dd6e1b3d2871632659b3ac53181&language=en_US&ref_=as_li_ss_il"
        target="_blank"><img border="0"
          src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0399592520&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=neverstople02-20&language=en_US"></a>

      <a href="https://www.amazon.com/gp/product/B009U9S6FI?ie=UTF8&psc=1&linkCode=li2&tag=neverstople02-20&linkId=331f3918bbe5ecc6559b74715d666331&language=en_US&ref_=as_li_ss_il"
        target="_blank"><img border="0"
          src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B009U9S6FI&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=neverstople02-20&language=en_US"></a>

      <a href="https://www.amazon.com/gp/product/0316010669?ie=UTF8&psc=1&linkCode=li2&tag=neverstople02-20&linkId=085971cb56691e1e16cd1c422cd7e437&language=en_US&ref_=as_li_ss_il"
        target="_blank"><img border="0"
          src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0316010669&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=neverstople02-20&language=en_US"></a>

      <a href="https://www.amazon.com/gp/product/1416605800?ie=UTF8&psc=1&linkCode=li2&tag=neverstople02-20&linkId=01b54ba0724e2d7e1aaff912cc6cf431&language=en_US&ref_=as_li_ss_il"
        target="_blank"><img border="0"
          src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1416605800&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=neverstople02-20&language=en_US"></a>

      <a href="https://www.amazon.com/gp/product/0415690153?ie=UTF8&psc=1&linkCode=li2&tag=neverstople02-20&linkId=7cc67e9abe4a8b80b5e5c6fb6daeab1b&language=en_US&ref_=as_li_ss_il"
        target="_blank"><img border="0"
          src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0415690153&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=neverstople02-20&language=en_US"></a>

      <a href="https://www.amazon.com/gp/product/B004PGMI1Y?ie=UTF8&psc=1&linkCode=li2&tag=neverstople02-20&linkId=5b45df187a68eeea860d9fba431a3e77&language=en_US&ref_=as_li_ss_il"
        target="_blank"><img border="0"
          src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B004PGMI1Y&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=neverstople02-20&language=en_US"></a>

      <a href="https://www.amazon.com/gp/product/1416608842?ie=UTF8&psc=1&linkCode=li2&tag=neverstople02-20&linkId=469fc46118fc3ae476d1344afa06934d&language=en_US&ref_=as_li_ss_il"
        target="_blank"><img border="0"
          src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1416608842&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=neverstople02-20&language=en_US"></a>

      <a href="https://www.amazon.com/gp/product/0470548746?ie=UTF8&psc=1&linkCode=li2&tag=neverstople02-20&linkId=49f6c39e7729bc971bbbe671e34b790e&language=en_US&ref_=as_li_ss_il"
        target="_blank"><img border="0"
          src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0470548746&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=neverstople02-20&language=en_US"></a>

    </div>
  </section>
</div>

{% endblock %}