{% extends "_includes/layout.html" %}

{% block content %}

<section class="max-w-2xl mx-4 mb-20 md:mx-24 text-dark">
  <div class="container mx-auto">
    <h2 class="mb-8 text-4xl">All Posts</h2>
    <div class="-my-8 divide-y-2 divide-gray-200">
      {%- for post in collections.posts | reverse -%}
      <div class="py-8">
        <div class="md:flex-grow">
          <h2
            class="mb-2 text-2xl text-primary md:text-4xl hover:text-primary-300">
            <a href="{{post.url}}">{{post.data.title }}</a>
          </h2>

          <p>{{ post.templateContent | excerpt}}</p>

          <p class="inline-flex items-center mt-4 text-sm">
            <svg xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 mr-2 text-dark-100" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
            {{post.date | postDate}}
            &ensp;|&ensp;
            <svg xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 mr-2 text-dark-100" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7" />
            </svg>
            {{ post.templateContent | timeToRead }}
          </p>
        </div>
      </div>
      {%- endfor -%}
    </div>
  </div>
</section>

{% endblock %}